<div>
  <h4> Employee <%= employee.formatted_name %> </h4>
  <p> <%= employee.formatted_role %> </p>
  <p> <%= link_to "Edit #{employee.formatted_name}", edit_user_path(employee) %> </p>
  <p> <%= link_to "create schedule", new_user_shift_path(@location, employee) %> </p>
</div>
