<h1> Your dashboard </h1>

<div>
  <%= link_to "Edit My info", edit_user_path(current_user) %>
</div>

<div>
  <%= link_to "Register New Location", new_location_path %>
</div>

<div class="location">
    <%= render current_user.location %>
<div>
